[submodule "jongangisback"]
	path = jongangisback
	url = https://github.com/kucc/jongangisback.git
[submodule "1조_일석일조/hackathon-team1-backend"]
	path = 1조_일석일조/hackathon-team1-backend
	url = https://github.com/kucc/hackathon-team1-backend.git
[submodule "1조_일석일조/hackathon-team1-frontend"]
	path = 1조_일석일조/hackathon-team1-frontend
	url = https://github.com/kucc/hackathon-team1-frontend.git
